
.magicblock-editor {
    padding: .2em .25em;
}

.wp-block[data-type="magicblock/magicblock"] {
    border: 1px solid rgb(215, 215, 215);
    background: white;
}

.wp-block[data-type="magicblock/magicblock"] .block-editor-inner-blocks {
    padding-left: .5em;
    padding-right: .5em;
}

.magicblock-label {
    font-size: .6em;
    padding: .5em 1em ;
    font-family: 'Courier New', Courier, monospace;
    background: white;
    border-bottom: 1px solid rgb(215, 215, 215);
    transform: translateY(1px);
    max-width: 100%;
    word-wrap: break-word;
}


.magicblock-class-span, .magicblock-id-span {
    display: inline-block;
    padding:3px 6px;
    margin: 0 3px;
    word-wrap: break-word;
    max-width: 100%;
}

.magicblock-class-span {
    background: rgba(173, 216, 230, 0.242);
}

.magicblock-id-span {
    background: rgba(230, 186, 173, 0.214);
}

.magicblock-newtab {
    margin-top: 1em;
}


.magicblock-custom-attr-pair {
    margin-bottom: 10px;
    padding: 1em;
    border-radius: 2px;
    border: solid 1px grey;
}


.magic-block-right-align {
    text-align: right;
}